In [1]:
import pymysql
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)

In [2]:
cur = myconn.cursor()

In [3]:
cur.execute('show databases')

11

In [4]:
cur.execute('show tables')

1

In [6]:
cur.execute('desc newdata')
for i in cur:
    print(i)

('id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(20)', 'YES', '', None, '')
('age', 'int', 'YES', '', None, '')

In [7]:
cur.execute('insert into newdata(id,name,age) values(%s,%s,%s)',(1,'ram',20));
myconn.commit()

In [8]:
#Multiple data insertion

import pymysql
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
cur = myconn.cursor()
query = 'insert into newdata(id,name,age) values(%s,%s,%s)'
val = [
    (2,'raman',19),(3,'adi',23),(4,'minu',56),(5,'chinu',87) 
]
cur.executemany(query,val)
myconn.commit()

In [9]:
cur.execute('truncate table newdata')

0

In [14]:
cur.execute('show databases')

11

In [16]:
import pymysql
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
cur = myconn.cursor()
cur.execute('delete from newdata where id=5')
myconn.commit()

In [17]:
import pymysql
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
cur = myconn.cursor()
cur.execute('update newdata set name="riyansh" where id=4')

1

In [19]:
import pymysql
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
cur = myconn.cursor()
cur.execute("update newdata set name='riyansh' where id=4")

1