In [ ]:
pip install mysql

^C
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     -- ------------------------------------- 0.8/11.9 MB 1.5 MB/s eta 0:00:08
     --- ------------------------------------ 1.0/11.9 MB 1.5 MB/s eta 0:00:08
     ---- ----------------------------------- 1.3/11.9 MB 1.5 MB/s eta 0:00:08
     ----- ---------------------------------- 1.6/11.9 MB 1.3 MB/s eta 0:00:08
     ------ --------------------------------- 1.8/11.9 MB 1.4 MB/s eta 0:00:08
     ------- -------------------------------- 2.1/11.9 MB 1.4 MB/s eta 0:00:07
     ------- -------------------------------- 2.4/11.9 MB 1.4 MB/s eta 0:00:07
     --------- ------------------------------ 2.9/11.9 MB 1.4 MB/s eta 0:00:07
     ---------- ----------------------------- 3.1/11.9 MB 1.4 MB/s eta 0:00:07
     ----------- ---------------------------- 3.4/11.9 MB 1.4 MB/s eta 0:00:06
     ------------ --------------------------- 3.7/11.9 MB 1.4 MB/s eta 0:00:06
     ------------- -------------------------- 3.9/11.9 MB 1.4 MB/s eta 0:00:06
     --------------- ------------------------ 4.5/11.9 MB 1.4 MB/s eta 0:00:06
     --------------- ------------------------ 4.7/11.9 MB 1.4 MB/s eta 0:00:05
     ----------------- ---------------------- 5.2/11.9 MB 1.5 MB/s eta 0:00:05
     ------------------ --------------------- 5.5/11.9 MB 1.5 MB/s eta 0:00:05
     ------------------- -------------------- 5.8/11.9 MB 1.4 MB/s eta 0:00:05
     -------------------- ------------------- 6.0/11.9 MB 1.5 MB/s eta 0:00:05
     -------------------- ------------------- 6.0/11.9 MB 1.5 MB/s eta 0:00:05
     ---------------------- ----------------- 6.6/11.9 MB 1.4 MB/s eta 0:00:04
     ----------------------- ---------------- 6.8/11.9 MB 1.4 MB/s eta 0:00:04
     ----------------------- ---------------- 7.1/11.9 MB 1.4 MB/s eta 0:00:04
     ------------------------ --------------- 7.3/11.9 MB 1.4 MB/s eta 0:00:04
     ------------------------- -------------- 7.6/11.9 MB 1.4 MB/s eta 0:00:04
     --------------------------- ------------ 8.1/11.9 MB 1.4 MB/s eta 0:00:03
     ---------------------------- ----------- 8.4/11.9 MB 1.4 MB/s eta 0:00:03
     ------------------------------ --------- 8.9/11.9 MB 1.5 MB/s eta 0:00:03
     ------------------------------- -------- 9.4/11.9 MB 1.5 MB/s eta 0:00:02
     --------------------------------- ------ 10.0/11.9 MB 1.5 MB/s eta 0:00:02
     ------------------------------------ --- 10.7/11.9 MB 1.6 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 1.7 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install mysql-connector

Collecting mysql-connector
  Using cached mysql-connector-2.2.9.tar.gz (11.9 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247960 sha256=a11fd6346f1d5b913fea9ed0d9430d3343e555d05874ad87a7993fb438d72ec5
  Stored in directory: c:\users\manasi\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymysql
myconn = pymysql.connect(
    host='localhost',
    user = 'root',
    password = 'manasi')
print(myconn)

<pymysql.connections.Connection object at 0x000001B261ACF0E0>

In [3]:
cur = myconn.cursor()
print(cur)

<pymysql.cursors.Cursor object at 0x000001B261AFD220>

In [4]:
cur.execute('create database pywit')

1

In [7]:
cur.execute('show databases')

11

In [9]:
for i in cur:
    print(i)

('college',)
('company',)
('hospital',)
('information_schema',)
('mysql',)
('performance_schema',)
('pymy',)
('pywit',)
('sakila',)
('sys',)
('world',)

In [1]:
import pymysql
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
print(myconn)

<pymysql.connections.Connection object at 0x00000251259ADA60>

cur = myconn.cursor()

In [3]:
cur.execute('create table new(id int primary key,name varchar(20),age int)')

NameError: name 'cur' is not defined

In [6]:
cur.execute('show tables')
for i in cur:
    print(i)

('new',)

In [7]:
cur.execute('desc new')
for i in cur:
    print(i)

('id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(20)', 'YES', '', None, '')
('age', 'int', 'YES', '', None, '')

In [8]:
cur.execute('create table new1(id int primary key,name varchar(20),age int)')

0

In [9]:
cur.execute('desc new1')
for i in cur:
    print(i)

('id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(20)', 'YES', '', None, '')
('age', 'int', 'YES', '', None, '')

In [10]:
cur.execute('show tables')
for i in cur:
    print(i)

('new',)
('new1',)

In [11]:
cur.execute('alter table new rename to newdata')

0

In [12]:
cur.execute('show tables')
for i in cur:
    print(i)

('new1',)
('newdata',)

In [13]:
cur.execute('drop table new1')

0

In [14]:
cur.execute('show tables')
for i in cur:
    print(i)

('newdata',)

In [2]:
cur.execute('insert into newdata(id,name,age) values(%s,%s,%s)',(1,'ram',20));
myconn.commit()

NameError: name 'cur' is not defined