In [1]:
import pymysql                                                        # Server connection
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
cur = myconn.cursor()

In [8]:
def createtable(tname):                                                             # Table Creation
    try:
        t= f'create table {tname} ( id int primary key auto_increment,name varchar(20),dob date,location varchar(20))'
        cur.execute(t)
        print(f'{tname} table created successfully')
    except:
        print(f'with {tname} table exist...try with different name')

createtable('XYZ')

with XYZ table exist...try with different name

In [13]:
def addcolumn(tname,cname):                                                # Adding columns to Tables
    try:
        query =f'alter table {tname} add column {cname}'
        cur.execute(query)
        print(f'added column {cname} successfully in table {tname}')
    except:
        print('{cname} already exists...')
addcolumn('XYZ','salary float')

added column salary float successfully in table XYZ

In [12]:
import pymysql                                                         #Rename Column
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
cur = myconn.cursor()
def renameColumn(tname,oldcname,newcname):
    try:
        query = f'alter table {tname} change {oldcname}  {newcname}'
        cur.execute(query)
        print(f'changed column name successfully from {oldcname} to {newcname}')
    except:
        print(f'Kindly check  oldname {oldname} you entered again...')
renameColumn('XYZ','salary','salary float')

changed column name successfully from salary to salary float

In [5]:
def modifyColumn(tname,column,dtype):                                                # Modify Column
    try:
        query = f'alter table {tname} modify column {column} {dtype}'
        cur.execute(query)
        print(f'column modified successfully')
    except:
        print('oops you entered wrong datatype.. please check again !')

modifyColumn('newdata','myage','int')

column modified successfully

In [29]:
def tableDelete(tname):                                                             # Deletetion of Table
    try:
        query = f'drop table {tname}'
        cur.execute(query)
        print(f'{tname} table deleted successfully')
    except:
        print('{tname} table already deleted.. please enter valid table name')

tableDelete('emp')

emp table deleted successfully

In [ ]:
def rename(oldname,newname):                                                               # Renaming of Table
    try:
        query = f'alter table {oldname} rename to {newname}'
        cur.execute(query)
        print(f'You successfully changed oldname {oldname} to newname {newname}')
    except:
        print('please enter valid table name')

rename('XYZ','new_info')
rename('new_info','XYZ')
rename('new_info','XYZ')

In [4]:
def truncateTable(tname):                                                              # Truncate Table
    try:
        query = f'truncate table {tname}'
        cur.execute(query)
        print(f'{tname} table deleted successfully')
    except:
          print('{tname} table already deleted.. please enter valid table name')


truncateTable('mark')

mark table deleted successfully

In [3]:
import pymysql                                                         # Data Insertion in Table
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
cur = myconn.cursor()
def dataInsert(tname,name,dob,location,salary):
    query= f'insert into {tname} (name,dob,location,salary) values(%s,%s,%s,%s)'
    val = (name,dob,location,salary)
    cur.execute(query,val)
    myconn.commit()
    print(f'{name},{dob},{location},{salary} inserted succcessfully in table {tname}')
dataInsert('XYZ','aditya','2025-02-22','delhi','25000')

aditya,2025-02-22,delhi,25000 inserted succcessfully in table XYZ

In [6]:
def dataDelete(tname,id1):                                             # Data Deletion
    query= f'delete from {tname} where id = {id1}'
    cur.execute(query)
    myconn.commit()
    print(f'data at id {id1} deleted succcessfully from table {tname}')

dataDelete('XYZ','1')

data at 1 deleted succcessfully from table XYZ

In [7]:
def Filter(tname,start,end):
    query = f'select * from {tname} where name like "{start} % {end}"'
    cur.execute(query)
    a = cur.fetchall()
    print(a)

Filter('XYZ','b','i')

()

In [2]:
import pymysql                                                         # Data Insertion in Table
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
cur = myconn.cursor()
def Filter(tname,start,end):
    query = f'select * from {tname} where name like "{start} % {end}"'
    cur.execute(query)
    a = cur.fetchall()
    print(a)

Filter('XYZ','b','i')

()

In [7]:
def dataInsertMany(tname, *data):                                                # Multiple Data insertion
    query = f'INSERT INTO {tname} (name, dob, location, salary) VALUES (%s, %s, %s, %s)'
    cur.executemany(query, data)  # Use executemany() for multiple records
    myconn.commit()
    print(f'Successfully entered data')

dataInsertMany('XYZ', 
    ('ram', '2025-02-23', 'delhi', '30000'), 
    ('mahi', '2025-04-29', 'mumbai', '40000')
)

In [32]:
def dataInsertMany(tname, *data):                                                # Multiple Data insertion
    query = f'INSERT INTO {tname} ( name, dob, school) VALUES ( %s, %s, %s)'
    cur.executemany(query, data)  # Use executemany() for multiple records
    myconn.commit()
    print(f'Successfully entered data')

dataInsertMany('student', 
    ('ram', '2025-02-23', 'delhi_school'), 
    ('mahi', '2025-04-29', 'mumbai_school')
)

Successfully entered data

In [33]:
def dataInsertMany(tname, *data):                                                # Multiple Data insertion
    query = f'INSERT INTO {tname} ( id,seat, subject) VALUES ( %s, %s, %s)'
    cur.executemany(query, data)  # Use executemany() for multiple records
    myconn.commit()
    print(f'Successfully entered data')

dataInsertMany('marks', 
    ('101', '1', 'phy'), 
    ('102', '2', 'che')
)

Successfully entered data

In [36]:

cur.execute('select * from student')
for i in cur:
    print(i)

(1, 'ram', datetime.date(2025, 2, 23), 'delhi_school')
(2, 'mahi', datetime.date(2025, 4, 29), 'mumbai_school')

cur.execute('select  * from marks')
for i in cur:
    print(i)

In [ ]:

a = []
tname = input('set table name:')
while True:
    column = input('set column name data  type and constraints or "break":')
    if column == 'break':
        break
    a.append(column)
b = ",".join(a)
print(b)
query = f'create table {tname} ({b})'
cur.execute(query)
print(f'Table created successfully')

In [6]:
def dataInsertMany(tname, *data):                                                # Multiple Data insertion
    query = f'INSERT INTO {tname} ( id,phy,che,bio,seat) VALUES ( %s, %s, %s,%s,%s)'
    cur.executemany(query, data)  # Use executemany() for multiple records
    myconn.commit()
    print(f'Successfully entered data')

dataInsertMany('marks', 
    ('101', '34', '45','66',1), 
    ('102', '41', '43','89',2)
)

Successfully entered data

In [7]:
cur.execute('select * from marks')
for i in cur:
    print(i)

(101, 34.0, 45.0, 66.0, 1)
(102, 41.0, 43.0, 89.0, 2)

In [9]:
import pymysql                                                        # Server connection
myconn = pymysql.connect(

    host = 'localhost',
    user = 'root',
    password = 'manasi',
    database = 'pywit'
)
cur = myconn.cursor()
def result(seat,name):
     cur.execute(f'select * from student where seat = %s and name=%s',(seat,name))
     a = cur.fetchone()
     cur.execute('select * from marks where seat = %s ',a[0])
     b = cur.fetchone()
     label = ['','phy','che','bio']
     avg = 0
     print(f'seat no:{a[0]}')
     print(f'student name:{a[1]}')
     print(f'student name:{a[3]}')
     print('*'*30)
     for i in range(1,len(label)):
         print(f'{label[i]} = {b[i]}')
         avg += b[i]
         c = avg/3
     if c >= 40 and c <=100:
                 print('pass')
     else:
            print('fail')
     print('avg marks are',(avg/3))
    

result(1,'ram')

seat no:1
student name:ram
student name:delhi_school
******************************
phy = 34.0
che = 45.0
bio = 66.0
pass
avg marks are 48.333333333333336